<p>Dear <%= @participant.firstname %>,</p>
<p>Thank you for registering for the UAE — AI-Powered Future of Fintech Workshop! We're thrilled to have you join us for this exclusive, invite-only event.</p>
<p><strong>Event Details:</strong></p>
<p>Date: <strong>December 5th, 2024</strong></p>
<p>Time: <strong>9:00 AM GST</strong></p>
<p>Location: <strong>HPE Digital Life Garage Dubai</strong></p>
<p>In this workshop, you'll explore the innovative FinTech use cases powered by our AI Engine, Shruti AI. As a valued guest, we're pleased to offer you limited access to the platform to get a firsthand look at how AI is transforming the financial services industry.</p>
<p>Please expect a follow-up email with additional details closer to the event date.</p>
<p>If you have any questions, feel free to reach out to us at aifuturefintech@tntra.io or (+971) 545232310.</p>
<p>We look forward to welcoming you to an insightful session on the future of FinTech!</p>

<p>Best regards,<br/>
Tntra</p>